main>section:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.creationForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.creationForm div {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.creationForm ul {
    position: absolute;
    background-color: slategray;
    color: black;
    list-style-type: none;
    right: 0;
    top: 1.5em;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 1;
    max-height: 50vh;
    overflow: auto;
    overflow-x: hidden;
}

.creationForm li {
    border-bottom: 1px solid black;
}

.creationForm li:hover {
    background-color: rgb(226, 225, 225);
    cursor: pointer;
}

.inputs {
    font-weight: bold;
    width: 50%;
    border: inset;
    box-sizing: border-box;
    border-color: slategray;
    background-color: slategray;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

#levelInput {
    justify-content: space-evenly;
}

#levelInput input {
    border: inset;
    box-sizing: border-box;
    border-color: slategray;
    background-color: slategray;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

#submitInput {
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.attributeInput input[type=number]::-webkit-inner-spin-button {
    height: 1.2em;
    width: 1em;
}

form .attributeInput {
    width: 40vw;
    justify-content: space-between;
    gap: 3em;
    font-size: 2em;
}

.attributeInput input {
    border: inset;
    box-sizing: border-box;
    border-color: slategray;
    background-color: slategray;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.descriptionForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.descriptionForm div {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.textbox {
    font-weight: bold;
    border: inset;
    box-sizing: border-box;
    border-color: slategray;
    text-align: center;
    background-color: rgb(209, 207, 207);
}

.pageButton {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(rgba(132, 150, 201, 0.84), rgba(31, 47, 91, 0.84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(31, 37, 91, 0.24) 0 2px 2px, rgba(132, 137, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(31, 67, 91, 0.6) 1px 1px 4px, rgba(31, 52, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    min-width: 6rem;
}


.pageButton:hover {
    background-image: linear-gradient(#b8c8e7, #3753a0 50%);
    color: aqua;
}

.fileInput {
    max-width: 180px;
}

@media screen and (max-width: 900px) {
    .descriptionForm div {
        width: 80vw;
    }
}

@media screen and (max-width: 900px) {
    .creationForm div {
        width: 60vw;
    }
}

@media screen and (max-width: 900px) {
    .creationForm div {
        width: 80%;
    }
}