.Topbar {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.Topbar > div {
    padding: 0 1em;
    border: 1px solid blue
}

.Pagecontainer {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.Leftpanel > div {
    padding: .5em;
}

.Leftpanel hr {
    color: black;
    margin-top: 1em 0;
}


.Centrepanel {
    border: 1px solid orange;
    padding: 1em;
    margin: 0;
}

.Centrepanel li {
    
    display: grid;
    grid-template-columns: 1fr .2fr 1fr;
    gap: 2em;
}

.Rightpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 1em;
}

.Description {
    list-style-type: none;
}

.Description li {
    padding: 0.5em 0;
}

.Attributecircle {
    border: 2px solid black;
    border-radius: 50%;
    width: 30em;
    height: 30em;
    margin: 1em auto;
}

.TRSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.Scorename {
    padding: .1em .4em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
}

.Selector {
    list-style-type: none;
    display: flex;
    padding: 1em;
    justify-content: center;
}

.Selector > li {
    padding: 1em;
    border: solid 1px black;
}

.SavingThrows {
    width: 70%;
}

.SavingThrows li {
    display: grid;
    grid-template-columns: 1.2fr .3fr .3fr 1fr;
    gap: 1em;
    margin-block: .1em;
}

.Passives {
    width: 50%;
}

.Passives li {
    display: grid;
    grid-template-columns: 1.3fr .5fr;
    align-items: center;
    justify-content: center;
    margin-block: .7em;
}

.Scorecircle {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(107, 214, 103);
    padding: .15em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1.2em;
    width: 1.2em;
}

.attributewheelcontainer {
    background-image: url(../../assets/Gold-circle-frame-design-on-trsndparent-background-PNG.png);
    background-size: 100%;
}

h4 {
    margin: 1em 0;
}

h5 {
    margin: .2em 0;
}