.scorecircle {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(107, 214, 103);
    padding: .15em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1.2em;
    width: 1.2em;
    color: black;
}
