.characterTile {
    min-height: 50px;
    max-width: 350px;
    background-color: rgb(252, 236, 167);
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 
        "name name level"
        "subrace subclass level";
    border-width: 4px;
    border-color: #2f2603;
}

.characterTile > * {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    padding: .2em;
}

.characterTile > h3 {
    grid-area: name;
    margin: 0;
}

.characterSubrace {
    grid-area: subrace;
}

.characterClass {
    grid-area: subclass;
}

.level {
    grid-area: level;
    font-size: 250%;
    font-weight: 700;
}