.characterTile {
    min-height: 100px;
    width: 300px;
    background-color: #fceca7;
    display: grid;
    grid-template-columns: auto 1fr 2fr auto;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 
        "menu name name level"
        "subrace subrace subclass level";
    border-width: 4px;
    border-color: #2f2603;
}

.characterTile > * {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: .2em;
}

.characterTile > h3 {
    grid-area: name;
    margin: 0;
    height: 100%;
}

.characterSubrace {
    grid-area: subrace;
}

.characterClass {
    grid-area: subclass;
}

.level {
    grid-area: level;
    font-size: 250%;
    font-weight: 700;
    height: 100%;
}

.kebabIcon {
    position: relative;
    font-size: 20px;
    padding: 0.1em;
}

.kebabIcon > div {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
    background-color: #0000ff;
    color: white;
    top: -0.2em;
}

.kebabIcon li {
    border: 1px solid white;
    padding: 0.3em;
    font-size: 14px;
    cursor: pointer;
}

.kebabIcon li:hover {
    color: rgb(28, 202, 245);
}

.kebabIcon a {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}

.kebabIcon > div.active {
    grid-template-rows: 1fr;
}

.kebabIcon > div.openLeft {
    right: 0.7em;
}

.kebabIcon > div.openRight {
    left: 0.7em;
}

.grid-inner {
    overflow: hidden;
    width: 6em;
}