header nav {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    gap: 1em;
}

header ul {
    display: flex;
    list-style-type: none;
    border: 3px solid rgb(61, 60, 60);
    align-items: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: rgb(61, 60, 60)
}

header a:visited {
    color: rgb(61, 60, 60)
}

header a:hover {
    color: rgb(4, 116, 116);
}


.createpost {
    text-align: center;
    border: 1px solid black;
}

.logo {
    text-align: center;
    border: 1px solid black;
}