body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://res.cloudinary.com/dgyweielh/image/upload/v1701445944/grey-background-z9agfvuh29wchjmk_tg2tnb.jpg);
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
